.gameContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gameBox {
  position: relative;
  display: inline-block;
  flex-flow: column;
  border: black solid 1px;
  border-radius: 3%;
  width: 20vw;
  height: 40vh;
  padding: 1%;
  background-color: auto;
  transition: all 0.3s ease-in-out;
}

